body{
    display: flex;
    padding: 0 10px;
    min-height: 100vh;
    align-items: center;
    background: #c0c8f1 ;
    justify-content: center;

}
.wrapper {
    height: 265px;
    max-width: 410px;
    background: #ecf0ec;
    border-radius: 7px;
    padding:20px 25px 0;
    transition; height 02s ease;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px;
}
